body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(54, 54, 54);
}

.game-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.tama-container {
    overflow: hidden;
    width: 100%;
    height: 80%;
}

.stat-container {
    position: absolute;
    top: 2%;
    left: 2%;
}

.rpgstat-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.progress-bars {
    left: 40%;
    width: 50%;
    height: 50%;
    
}
.button-actions {
    right: 60%;
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.rpgui-center {
    margin: 5%;
    display: flex;
}

#hp-bar, #mana-bar, #stamina-bar {
    margin-top: 2%;
    margin-bottom: 4%;
    width: 90%;
}

.sprite-container {
    position: absolute;
    top: 10%;
    left: 40%;
}

.sprite {
    height: 150px;
    width: 150px;
    background: url(./animation/evo1/Run.png);
    animation: run 0.9s steps(8) infinite;
    zoom: 3;
    filter: drop-shadow(0 0 0.75rem rgb(0, 140, 255));
}

.tama-background {
    background: url(./animation/night-town-background-previewx2.png) repeat-x;
    height: 560px;
    width: 5076px;
    animation: slide 40s linear infinite;
}

@keyframes run {
    0%{
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1200px;
    }
}

@keyframes slide {
    0% {
        transform: translate3d(0,0,0)
    }
    100% {
        transform: translate3d(-1692px, 0,0);
    }
}

